// Tablets and up
@media (min-width: 768px) {
  // Utilities
  .grid-w-aside {
    grid-template-columns: 5fr 2fr;
    grid-gap: 1.5rem;

    aside {
      text-align: left;
    }
  }

  // Image Carousel
  .image-carousel {
    height: 100vh;

    .inner {
      img {
        height: 100vh;
      }
    }
  }

  // Cafe Info
  #cafe-info {
    .grid-w-aside {
      aside {
        .hours {
          width: 100%;
        }
      }
    }
  }

  // Old Menu
  // #menu {
  //   .grid-w-aside {
  //     aside {
  //       position: relative;

  //       img {
  //         height: 100%;
  //         position: absolute;
  //         left: 0;
  //         top: 0;
  //         display: block;
  //       }
  //     }
  //   }
  //   .menu-img-container {
  //     grid-template-columns: 1fr 1fr;
  //   }
  // }

  // Menu
  #menu {
    .container {
      .btn-container {
        grid-template-columns: repeat(5, 1fr);
      }

      .menu-wrapper {
        .menu-item {
          grid-template-columns: 1fr 1fr;
          gap: 0 1.25rem;
          max-width: 100%;

          .img {
            height: 175px;
          }
        }
      }
    }
  }

  // Catering
  #catering {
    .catering-img-container {
      grid-template-columns: 1fr 1fr 1fr;

      div:nth-child(2) {
        border: none;
      }

      div:nth-child(3) {
        border: none;
      }
    }
  }

  // Bagels
  #bagels {
    .grid-w-aside {
      & > div {
        img {
          width: 50%;
        }
      }

      aside {
        .flavors-container {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  // Wholesale
  #wholesale {
    .grid-w-aside {
      .grid {
        grid-template-columns: 2fr 2fr;
      }

      & > div {
        img {
          margin-top: 4rem;
        }
      }
    }
  }

  // Footer
  #main-footer {
    .footer-content {
      flex-direction: row;

      p {
        padding: 0;
      }

      .social {
        padding-top: 0;
      }
    }
  }
}

// iPad Pro and Desktops
@media (min-width: 900px) {
  #menu {
    .container {
      .btn-container {
        display: flex;
        text-align: center;
        justify-content: center;
      }

      .menu-wrapper {
        grid-template-columns: 1fr 1fr;

        .menu-item {
          .img {
            height: 150px;
          }
        }
      }
    }
  }
}
