@import 'config';
@import 'reset';
@import 'utilities';
@import 'hb-menu';
@import 'image-carousel';

// Cafe Info
#cafe-info {
  .grid {
    aside {
      .hours {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}

// Menu
#menu {
  .lead:last-of-type {
    padding-top: 1rem;
  }

  .menu-img-container {
    display: grid;
  }
}

// Catering
#catering {
  .catering-img-container {
    display: grid;
  }
}

// Bagels
#bagels {
  .grid {
    & > div {
      img {
        margin: 0 auto;
        display: block;
        padding: 1rem 0;
      }

      ul {
        list-style: initial;
        padding-left: 2rem;
      }
    }

    aside {
      .flavors-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 0.2rem;
        padding: 1rem 0.2rem;
      }
    }
  }
}

// Footer
#main-footer {
  color: $main-color;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    p {
      padding: 0.3rem;
    }

    .social {
      padding-top: 1rem;

      a:hover {
        color: inherit;
      }

      .fab {
        margin-right: 1rem;
        border: 2px $main-color solid;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;

        &:hover {
          background: #fff;
          transition: background ease-in-out 0.1s;
        }
      }

      .fa-viber:hover {
        color: #665cac;
        transition: color ease-in-out 0.1s;
      }
      .fa-youtube:hover {
        color: #ff0000;
        transition: color ease-in-out 0.1s;
      }
      .fa-facebook:hover {
        color: #1877f2;
        transition: color ease-in-out 0.1s;
      }
      .fa-instagram:hover {
        color: #833ab4;
        transition: color ease-in-out 0.1s;
      }
    }
  }
}

// Import Media Queries
@import 'media';
