* {
  margin: 0;
  padding: 0;
  font-family: 'quicksand', sans-serif;
  font-weight: 200;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #2f4a08;
  font-weight: 500;
}

a:hover {
  color: #f1ebcb;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

.container {
  max-width: 1100px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.bg-main {
  background: #2f4a08;
  color: #f9f9f9;
}

.bg-dark {
  background: #122008;
  color: #f9f9f9;
}

.bg-light {
  background: #f9f9f9;
  color: #122008;
}

.bg-medium {
  background: #f1ebcb;
  color: #122008;
}

.bg-white {
  background: #fff;
  color: #122008;
}

.lead {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.bold {
  font-weight: bold;
  color: #2f4a08;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.pt-1 {
  padding-top: 1rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  color: #2f4a08;
}

.section-title:before {
  content: '~ ';
}

.section-title:after {
  content: ' ~';
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #f1ebcb;
  display: block;
  margin: 0 auto 1rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.5rem;
}

.grid-w-aside {
  display: -ms-grid;
  display: grid;
}

.grid-w-aside aside {
  text-align: center;
}

.grid-w-aside aside .bold:first-of-type {
  padding: 0;
}

.grid-w-aside aside p.bold {
  padding-top: 1rem;
}

.social {
  padding-top: 1rem;
}

.social a:first-of-type {
  margin-right: 1rem;
}

.social a:hover {
  color: inherit;
}

.social .fab {
  border: 2px #2f4a08 solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
}

.social .fab:hover {
  background: #fff;
  -webkit-transition: background ease-in-out 0.1s;
  transition: background ease-in-out 0.1s;
}

.social .fa-facebook:hover {
  color: #1877f2;
  -webkit-transition: color ease-in-out 0.1s;
  transition: color ease-in-out 0.1s;
}

.social .fa-instagram:hover {
  color: #833ab4;
  -webkit-transition: color ease-in-out 0.1s;
  transition: color ease-in-out 0.1s;
}

.hb-menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.hb-menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 2;
  cursor: pointer;
  width: 90px;
  height: 90px;
  opacity: 0;
  /* Toggler Animation */
  /* Turns Lines into X */
  /* Rotate On Hover When Checked */
  /* Show Menu */
}

.hb-menu-wrap .toggler:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.hb-menu-wrap .toggler:checked + .hamburger > div:before,
.hb-menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.hb-menu-wrap .toggler:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.hb-menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.hb-menu-wrap .toggler:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

.hb-menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.hb-menu-wrap .toggler:not(:checked) ~ .menu {
  visibility: hidden;
}

.hb-menu-wrap .toggler:not(:checked) ~ .menu > div {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.hb-menu-wrap .toggler:not(:checked) ~ .menu > div > div {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease 0.4s;
  transition: opacity 0.4s ease 0.4s;
}

.hb-menu-wrap .hamburger {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 1;
  width: 40px;
  padding: 1rem;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Hamburger Line */
}

.hb-menu-wrap .hamburger > div {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 80%;
  height: 2px;
  background: #f1ebcb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* Hamburger Lines - Top & Bottom */
  /* Moves Line Down */
}

.hb-menu-wrap .hamburger > div:before, .hb-menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

.hb-menu-wrap .hamburger > div:after {
  top: 10px;
}

.hb-menu-wrap .menu {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hb-menu-wrap .menu > div {
  background: rgba(18, 32, 8, 0.7);
  border-radius: 50%;
  width: 300vw;
  height: 300vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.hb-menu-wrap .menu > div > div {
  text-align: center;
  max-width: 100vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.hb-menu-wrap .menu li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 2rem 7rem;
}

.hb-menu-wrap .menu a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.image-carousel {
  width: 100vw;
  height: 45vh;
  overflow: hidden;
  position: relative;
}

.image-carousel .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  -webkit-transition: left 0.25s ease-out;
  transition: left 0.25s ease-out;
}

.image-carousel .inner img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 45vh;
}

.image-carousel .bubbles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0.4rem;
  z-index: 4;
}

.image-carousel .bubbles .bubble {
  margin: 2.5px;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  opacity: 0.25;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  cursor: pointer;
}

.image-carousel .bubbles .bubble:hover {
  opacity: 0.65;
}

.image-carousel .bubbles .bubble.active {
  opacity: 1;
}

.image-carousel .next::after,
.image-carousel .prev::after {
  content: '>';
  position: absolute;
  top: 50%;
  right: 0;
  background-color: white;
  width: 0.7rem;
  font-weight: bold;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1.2rem 0.2rem 1.2rem 0.4rem;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  z-index: 4;
}

.image-carousel .next:hover::after,
.image-carousel .prev:hover::after {
  opacity: 1;
}

.image-carousel .prev::after {
  content: '<';
  left: 0;
}

#main-nav {
  padding-bottom: 1rem;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
}

#main-nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
}

#main-nav .container a h1 {
  font-family: 'Monsieur La Doulaise', cursive;
  font-size: 1.9rem;
  color: #f1ebcb;
  letter-spacing: 2px;
  padding-top: 1rem;
}

#main-nav .container ul {
  display: none;
}

#top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 45vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 32, 8, 0.8)), color-stop(transparent), color-stop(transparent), to(transparent));
  background-image: linear-gradient(rgba(18, 32, 8, 0.8), transparent, transparent, transparent);
  z-index: 1;
}

#cafe-info .grid-w-aside aside .hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0;
  width: 60%;
  margin: 0 auto;
}

#menu .container .btn-container {
  margin-bottom: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.6rem;
}

#menu .container .btn-container .filter-btn {
  background: transparent;
  border: 1px solid #f1ebcb;
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 0.375rem 0.75rem;
  color: #2f4a08;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

#menu .container .btn-container .filter-btn:hover {
  background: #f1ebcb;
}

#menu .container .menu-wrapper {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

#menu .container .menu-wrapper .menu-item {
  display: -ms-grid;
  display: grid;
  gap: 1rem 2rem;
}

#menu .container .menu-wrapper .menu-item .img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border: 0.25rem solid #f1ebcb;
  border-radius: 5px;
}

#menu .container .menu-wrapper .menu-item .item-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px dotted #f1ebcb;
}

#menu .container .menu-wrapper .menu-item .item-info div h4 {
  margin-bottom: 0.5rem;
}

#menu .container .menu-wrapper .menu-item .item-info div .price {
  padding-left: 0.6rem;
}

#menu .container .menu-wrapper .menu-item .item-info .item-text {
  padding-top: 1rem;
}

#catering .catering-img-container {
  display: -ms-grid;
  display: grid;
}

#catering .catering-img-container div:nth-child(2) {
  border-top: 1px solid #f1ebcb;
}

#catering .catering-img-container div:nth-child(3) {
  border-top: 1px solid #f1ebcb;
}

#bagels .grid-w-aside > div img {
  margin: 0 auto;
  display: block;
  padding: 1rem 0;
}

#bagels .grid-w-aside > div ul {
  list-style: initial;
  padding-left: 2rem;
}

#bagels .grid-w-aside aside .flavors-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
  padding: 1rem 0.2rem;
}

#wholesale .grid-w-aside > div img {
  margin: 0 auto;
  display: block;
  padding: 0.5rem 0;
}

#wholesale .grid-w-aside > div ul {
  list-style: initial;
  padding-left: 2rem;
}

#wholesale .grid-w-aside aside .flavors-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0.2rem;
  padding: 1rem 0.2rem;
}

#wholesale .grid-w-aside aside .pastries {
  padding-top: 1rem;
}

#main-footer {
  color: #2f4a08;
}

#main-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

#main-footer .footer-content p {
  padding: 0.3rem;
}

@media (min-width: 768px) {
  .grid-w-aside {
    -ms-grid-columns: 5fr 2fr;
        grid-template-columns: 5fr 2fr;
    grid-gap: 1.5rem;
  }
  .grid-w-aside aside {
    text-align: left;
  }
  .image-carousel {
    height: 100vh;
  }
  .image-carousel .inner img {
    height: 100vh;
  }
  #top::before {
    height: 100vh;
  }
  #cafe-info .grid-w-aside aside .hours {
    width: 100%;
  }
  #menu .container .btn-container {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  #menu .container .menu-wrapper .menu-item {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0 1.25rem;
    max-width: 100%;
  }
  #menu .container .menu-wrapper .menu-item .img {
    height: 175px;
  }
  #catering .catering-img-container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  #catering .catering-img-container div:nth-child(2) {
    border: none;
  }
  #catering .catering-img-container div:nth-child(3) {
    border: none;
  }
  #bagels .grid-w-aside > div img {
    width: 50%;
  }
  #bagels .grid-w-aside aside .flavors-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #wholesale .grid-w-aside .grid {
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
  }
  #wholesale .grid-w-aside > div img {
    margin-top: 4rem;
  }
  #main-footer .footer-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #main-footer .footer-content p {
    padding: 0;
  }
  #main-footer .footer-content .social {
    padding-top: 0;
  }
}

@media (min-width: 900px) {
  .hb-menu-wrap {
    display: none;
  }
  #main-nav .container a h1 {
    padding-bottom: 0.5rem;
    text-align: center;
    -webkit-transition: margin-top 1s;
    transition: margin-top 1s;
  }
  #main-nav .container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main-nav .container ul .section-link {
    text-decoration: none;
    color: #f1ebcb;
    text-transform: uppercase;
    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;
    border-radius: 5px;
    margin: 0 0.2rem;
  }
  #main-nav .container ul .section-link:hover {
    background-color: rgba(18, 32, 8, 0.7);
    color: #f9f9f9;
  }
  #main-nav .container ul .section-link.current {
    background-color: #f1ebcb;
    color: #122008;
  }
  #main-nav .container ul .section-link li {
    padding: 0.2rem 1rem;
  }
  #menu .container .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #menu .container .menu-wrapper {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  #menu .container .menu-wrapper .menu-item .img {
    height: 150px;
  }
}
/*# sourceMappingURL=main.css.map */