@import 'config';
@import 'reset';
@import 'utilities';
@import 'hb-menu';
@import 'image-carousel';

// Cafe Info
#cafe-info {
  .grid-w-aside {
    aside {
      .hours {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}

// Menu
#menu {
  .menu-img-container {
    display: grid;
  }
}

// Catering
#catering {
  .catering-img-container {
    display: grid;

    div:nth-child(2) {
      border-top: 1px solid $medium-color;
    }

    div:nth-child(3) {
      border-top: 1px solid $medium-color;
    }
  }
}

// Bagels
#bagels {
  .grid-w-aside {
    & > div {
      img {
        margin: 0 auto;
        display: block;
        padding: 1rem 0;
      }

      ul {
        list-style: initial;
        padding-left: 2rem;
      }
    }

    aside {
      .flavors-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2rem;
        padding: 1rem 0.2rem;
      }
    }
  }
}

// Wholesale
#wholesale {
  .grid-w-aside {
    & > div {
      img {
        margin: 0 auto;
        display: block;
        padding: 0.5rem 0;
      }

      ul {
        list-style: initial;
        padding-left: 2rem;
      }
    }

    aside {
      .flavors-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.2rem;
        padding: 1rem 0.2rem;
      }

      .pastries {
        padding-top: 1rem;
      }
    }
  }
}

// Footer
#main-footer {
  color: $main-color;

  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    p {
      padding: 0.3rem;
    }
  }
}

// Import Media Queries
@import 'media';
